.App {
  text-align: center;
}

body {
  background-color: black;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Consolas;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

table {
  width: 80px;
  height: 80px;
  position: absolute;
}

ul {
 list-style-type: none;
}

td {
  font-size: 20px;
  color: darkgray;
  width: 25px;
  height: 1px;
}

.drawer {
  width: 99%;
  height: 25%;
  bottom: 0px;
  border: 5px solid lightgray;
  position: absolute;
  overflow-y: auto;
}

.player {
  color: greenyellow;
}

.wall {
  color: white;
}

.text {
  color: white;
}

.enemy {
  color: red;
}
